// Colors --------------------

$light-grey: #d5d5d9;
$lighter-grey: #fdfdfd;
$dark-red: #88281D;

// Animations ----------------



// Media Queries -------------

$mobile: "screen and (max-width: 600px)";

// Misc. ---------------------
