// Colors --------------------

$light-grey: #d5d5d9;
$lighter-grey: #fdfdfd;
$dark-red: #88281D;

// Animations ----------------

@-webkit-keyframes slideInFromRight {
  0% { transform: translateX(300%);}
  100% { transform: translateX(0%);}
}

@-webkit-keyframes slideInFromRightDelayed {
  0% { transform: translateX(300%);}
  20% { transform: translateX(300%);}
  100% { transform: translateX(0%);}
}

@-webkit-keyframes revealSlowly {
  0% { opacity: 0;}
  60% { opacity: 0;}
  100% { opacity: 1;}
}

// Media Queries -------------

$mobile: "screen and (max-width: 600px)";

// Misc. ---------------------
