html {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: #F2EFD0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didact Gothic', sans-serif; }

a {
  color: #88281D;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    cursor: pointer; }

#navigation {
  border-bottom: 5px solid #88281D;
  background: linear-gradient(#d5d5d9, #fdfdfd, #d5d5d9);
  min-height: 150px; }

#footer {
  border-top: 5px solid #88281D;
  background: linear-gradient(#d5d5d9, #fdfdfd, #d5d5d9);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px; }

#nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto; }

.half-nav-content {
  width: 50%;
  padding: 10px; }
  .half-nav-content h1 {
    margin: 0px; }
  .half-nav-content hr {
    border-color: #88281D;
    margin-top: 10px;
    margin-bottom: 10px; }

section#main-content {
  width: 100%;
  max-width: 1000px;
  min-height: calc(100% - 280px);
  margin: auto;
  background-color: #fff;
  padding-bottom: 75px;
  color: #5F6069; }
  section#main-content hr {
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    border: 1px solid #88281D;
    width: 70%; }
  section#main-content .section__box {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    section#main-content .section__box img {
      max-height: 200px;
      flex-basis: 40%;
      max-width: 40%;
      object-fit: scale-down; }
    section#main-content .section__box h2 {
      font-size: 3.5rem;
      flex-basis: 60%;
      text-align: center; }
    section#main-content .section__box:nth-of-type(2n) img {
      order: 2; }
    section#main-content .section__box:nth-of-type(2n) h2 {
      order: 1; }
    section#main-content .section__box:last-of-type img {
      flex-basis: 100%;
      max-width: 100%;
      max-height: none; }
    section#main-content .section__box:last-of-type h2 {
      flex-basis: 100%;
      margin-bottom: 0px; }
  section#main-content p {
    width: 90%;
    max-width: 850px;
    padding: 0px 10px 50px 10px;
    margin-left: auto;
    margin-right: auto; }
    section#main-content p a {
      font-style: italic;
      font-weight: bold; }
    section#main-content p:last-of-type {
      padding-top: 20px; }
  @media screen and (max-width: 600px) {
    section#main-content .section__box {
      width: auto;
      max-width: 100vw; }
      section#main-content .section__box h2 {
        font-size: 2rem;
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0px; }
      section#main-content .section__box img {
        max-width: 55%; }
      section#main-content .section__box:nth-of-type(2n) img {
        order: 1; }
      section#main-content .section__box:nth-of-type(2n) h2 {
        order: 2; }
      section#main-content .section__box:last-of-type img {
        max-width: 90%; }
      section#main-content .section__box:last-of-type h2 {
        margin-top: 0px; } }

@media screen and (max-width: 600px) {
  #nav-content {
    flex-direction: column;
    text-align: center; }

  .half-nav-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }
    .half-nav-content hr {
      width: 50%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */
